<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144339111426-fjv1uflt28ego6a1din50s81a22igv71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144339111426-fjv1uflt28ego6a1din50s81a22igv71</string>
	<key>API_KEY</key>
	<string>AIzaSyDWI1lGutYeS7pxlH3uEYN36tSj1_kAK2o</string>
	<key>GCM_SENDER_ID</key>
	<string>144339111426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chingparungao.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-8568a</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-8568a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144339111426:ios:56d7d3db1cdf622318211b</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-8568a.firebaseio.com</string>
</dict>
</plist>